<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar.css') }}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body >

<div class="topo">
<div class="Bib">
<img class= "img_livro" src="/static/img/livro.png">
<h4 class="biblioteca">LibraTech</h4>
</div>
</div>
    <!-- BOTÃO VOLTAR -->
    <div>
        <a href="/inicial" class="botao-voltar2">
            <button class="btn-voltar" type="button">
                <i class="bi bi-arrow-left-square-fill"></i>
                Voltar
            </button>
        </a>
    </div>
<div class="img-livro-cadastro">
    <img class= "livro-cadastro" src="/static/img/icon-1.png">
</div>
    <div class="cabeçalho">
<h1> Cadastrar Livros</h1>
</div>
<div class="campo cadastro"> 
<h5>Titulo do livro</h5>
<form action="/registrar"method="POST">
    <input 
    type="text"
    name="titulo"
    placeholder="Cadastrar novos livros">

    <h5>Digite o nome do autor</h5>
    <input 
    type="text"
    name="autor"
    placeholder="Digite o nome do autor">

    <h5>editora</h5>
    <input 
    type="text"
    name="editora"
    placeholder="Digite a editora">

     <h5>Ano de publicação</h5>
    <input 
    type="number"
    name="ano_publicacao"
    placeholder="Digite o ano">

    <h5>Categoria</h5>
    <select name="categoria_id" id="categoria">
    <option value="" selected disabled>Selecione a categoria</option>
    <option value="1">Romance</option>
    <option value="2">Fantasia</option>
    <option value="3">Terror</option>
    <option value="4">Ficção Científica</option>
    </select>
    
{% if erro %}
    <p class="erro">{{ erro }}</p>
{% endif %}
{% if erro2 %}
    <p class="erro2">{{ erro2 }}</p>
{% endif %}

<button class="bt1" type="submit">
    Adicionar
</button>
</form>
</div>

<div class="Informacoes">
{% for registro in registros%}

<div class="itens">

    <!-- Ícone do livro -->
    <img class="livro" src="/static/img/icon-1.png">

    <!-- Título e autor -->
    <div class="info-livro">
        <p class="titulo">{{ registro.titulo }}</p>
        <p class="autor">{{ registro.autor }}</p>
    </div>

    <!-- Editora -->
    <div class="info-item">
        <img class="editora" src="/static/img/banco.png">
        <p>{{ registro.editora }}</p>
    </div>

    <!-- Ano -->
    <div class="info-item">
        <img class="ano_pub" src="/static/img/calendario (1).png">
        <p>{{ registro.ano_publicacao }}</p>
    </div>

    <!-- Categoria -->
    <div class="info-item">
        <img class="etiqueta" src="/static/img/etiqueta-de-preco.png">
        <p>{{ registro.categoria.nome }}</p>
    </div>

    <!-- Excluir -->
    <a href="/deletar/{{ registro.id }}" class="btn-excluir">
        <img class="icon-excluir" src="/static/img/BtnExcluir.png">
    </a>

</div>

{% endfor %}

</div>
</form>
</body>
</html>