<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='cadastrar.css') }}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="body">
<div>
<a href="/inicial" class="botao-voltar2">
    <button class="btn-voltar">
    <i class="bi bi-arrow-left-square-fill"></i>
</button>
</a>
 </div>
    <div class="cabeçalho">
<h1> Cadastrar Livros</h1>
</div>
<div class="campo cadastro"> 
<h5>Titulo do livro</h5>
<form action="/registrar"method="POST">
    <input 
    type="text"
    name="titulo"
    placeholder="Cadastrar novos livros">

    <h5>Digite o nome do autor</h5>
    <input 
    type="text"
    name="autor"
    placeholder="Digite o nome do autor">

    <h5>editora</h5>
    <input 
    type="text"
    name="editora"
    placeholder="Digite a editora">

     <h5>Ano de publicação</h5>
    <input 
    type="number"
    name="ano_publicacao"
    placeholder="Digite o ano">

    <h5>Categoria</h5>
    <select name="categoria_id" id="categoria">
    <option value="" selected disabled>Selecione a categoria</option>
    <option value="1">Romance</option>
    <option value="2">Fantasia</option>
    <option value="3">Terror</option>
    <option value="4">Ficção Científica</option>
    </select>
<button class="bt1" type="submit">
    Adicionar
</button>
</form>
</div>

<div class="Informacoes">
{% for registro in registros%}

<div class="itens">   
<p>{{registro.titulo}}</p>
<p>{{registro.autor}}</p>
<p>{{registro.editora}}</p>
<p>{{registro.ano_publicacao}}</p>
<p>{{registro.categoria.nome}}</p>
<a href="/deletar/{{registro.id}}" class="btn-excluir">
    <img class="icon-excluir" src="/static/img/BtnExcluir.png" >
</a>

</div>
{% endfor %}
{% if erro %}
    <p class="erro">{{ erro }}</p>
{% endif %}
{% if erro2 %}
    <p class="erro2">{{ erro2 }}</p>
{% endif %}

</div>
</form>
</body>
</html>