<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LibraTech recuperar senha</title>
</head>

<body>

    <div class="card-aviso">

        <p class="texto-principal">
            Enviamos um link de redefinição de senha para o e-mail cadastrado.
        </p>

        <div class="botoes-grupo">

            <button type="button" class="btn-action btn-reenviar">
                Reenviar link
            </button>

            <a href="{{ url_for('login') }}" class="btn-action btn-voltar-login">
                Voltar para tela de login
            </a>

        </div>

    </div>

</body>

</html>